// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-light {
    .navbar-toggler {
        outline: 0;
    }
}

.user-id {
    margin: 0 0 8px 0;
    font-size: 1.5rem;
    text-align: center;
}

.video-container {
    width: 500px;
    border-radius: 4px;
    height: 380px;
    margin: 15px auto;
    position: relative;
    box-shadow: 1px 1px 11px #9e9e9e;

    .my-video {
        max-width: 130px;
        max-height: 100px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        border-radius: 6px;
        z-index: 2;
    }

    .user-video {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.chat-box {
    max-width: 95%;

    .buttons {
        display: flex;
        justify-content: center;

        button {
            margin: 7px;
        }
    }
}

@media screen and (max-width: 560px) {
    .video-container {
        width: 95%;
    }
}
